@media screen and (max-width:1280px) {
  .hero header {

    & nav,
    & button {
      display: none;
    }

    & .nav-menu {
      display: flex;
    }
  }

  .articles article .content .details div {
    width: 50%;
  }


}

/* ?=============================================== */
@media screen and (max-width:1023px) {
  .hero {


    & .hero-container {
      flex-flow: column;
    }

    & .hero-img {


      & .img-wrapper {
        max-height: 384px;
        rotate: 0deg;
      }


      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .articles .articles-layout {
    flex-direction: column;
  }

  .articles article {
    flex-direction: column;

    & .img-wrapper {
      width: fit-content;
    }
  }

}

/* ?=============================================== */
@media screen and (max-width:767px) {
  .hero header {

    .logo a {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .hero h1 {
    font-size: 63px;
    line-height: 79px;
  }

  .sec-title {
    font-size: 42px;
    line-height: 42px;
  }

  .articles .articles-layout .main article,
  .articles .articles-layout aside .card {
    padding: 28px;
  }

  .articles .articles-layout .main article .img-wrapper img {
    width: 140px;
    height: 112px;
  }

  .articles .articles-layout .main article .img-wrapper .tag,
  .articles .articles-layout .main article .content .label {
    font-size: 11px;
    line-height: 14px;
  }

  .articles .articles-layout .main article .content h3 {
    font-size: 21px;
    line-height: 28px;
  }

  .articles .articles-layout .main article .content p {
    font-size: 16px;
    line-height: 26px;
  }

  .articles .articles-layout .main article .content .details {
    gap: 10px 0px;
  }

  .articles .articles-layout .main article .content .details div {
    font-size: 12px;
    line-height: 8px;
  }

  .articles .articles-layout .main button {
    font-size: 18px;
    line-height: 25px;
    padding: 14px 42px;
  }

  .articles .articles-layout aside .card .card-title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 21px;
  }

  .articles .articles-layout aside .card .trend {
    margin-bottom: 21px;
  }

  .articles .articles-layout aside .card .trend .trend-number {
    font-size: 32px;
    line-height: 35px;
  }

  .articles .articles-layout aside .card .trend .trend-title {
    font-size: 16px;
    line-height: 25px;
  }

  .articles .articles-layout aside .card .trend .trend-details {
    font-size: 12px;
    line-height: 18px;
  }

  .articles .articles-layout aside .categorys .category {
    font-size: 14px;
    line-height: 21px;
    padding: 10.5px 14px;
    margin-bottom: 10.5px;
  }

}

/* ?=============================================== */
@media screen and (max-width:640px) {
  .articles .articles-layout .main .head .fresh {
    display: none;
  }
}

/* ?=============================================== */
@media screen and (max-width:480px) {
  .hero header {

    .logo a {
      font-size: 23px;
      line-height: 27px;
    }
  }

  .hero {
    padding-block: 108px 48px;

    .trending {
      font-size: 11px;
      line-height: 15px;
      padding: 6px 12px;
      margin-bottom: 18px;
    }

    h1 {
      font-size: 54px;
      line-height: 68px;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .start,
    .watch {
      font-size: 15px;
      line-height: 21px;
      padding: 12px 24px;
    }
  }

  .articles {
    padding-block: 60px;
  }

  .sec-title {
    font-size: 36px;
    line-height: 36px;
  }

  .articles .articles-layout .main article,
  .articles .articles-layout aside .card {
    padding: 24px;
  }

  .articles .articles-layout .main article .img-wrapper img {
    width: 120px;
    height: 96px;
  }

  .articles .articles-layout .main article .img-wrapper .tag,
  .articles .articles-layout .main article .content .label {
    font-size: 9px;
    line-height: 12px;
    padding: 3px 6px;
  }

  .articles .articles-layout .main article .content .label {
    padding: 3px 9px;
  }

  .articles .articles-layout .main article .content h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 9px;
  }

  .articles .articles-layout .main article .content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .articles .articles-layout .main article .content .details {
    gap: 5px 10px;
  }

  .articles .articles-layout .main article .content .details div {
    font-size: 11px;
    line-height: 15px;
  }

  .articles .articles-layout .main button {
    font-size: 15px;
    line-height: 21px;
    padding: 12px 36px;
    margin-top: 0;
  }

  .articles .articles-layout aside .card .card-title {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 18x;
  }

  .articles .articles-layout aside .card .trend {
    margin-bottom: 18px;
  }

  .articles .articles-layout aside .card .trend .trend-number {
    font-size: 27px;
    line-height: 30px;
  }

  .articles .articles-layout aside .card .trend .trend-title {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 3px;
  }

  .articles .articles-layout aside .card .trend .trend-details {
    font-size: 11px;
    line-height: 15px;
  }

  .articles .articles-layout aside .categorys .category {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 12px;
    margin-bottom: 9px;
  }

}