@media screen and (max-width:1280px) {
  .hero header {

    & nav,
    & .subscribe {
      display: none;
    }

    & .nav-menu {
      display: flex;
    }
  }

  .articles article .content .details div {
    width: 50%;
  }

  .authors .authors-wrapper {
    flex-wrap: wrap;
    gap: 32px;
  }

  .authors .author-card {
    flex-grow: 0;
    flex-basis: calc(50% - 32px);
  }

  footer .copyright {
    flex-direction: column;
    gap: 12px;
  }

}

/* ?=============================================== */
@media screen and (max-width:1023px) {
  .hero {


    & .hero-container {
      flex-flow: column;
    }

    & .hero-img {


      & .img-wrapper {
        max-height: 384px;
        rotate: 0deg;
      }


      & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .articles .articles-layout {
    flex-direction: column;
  }

  .articles article {
    flex-direction: column;

    & .img-wrapper {
      width: fit-content;
    }
  }

  .authors .author-card {
    flex-grow: 1;
    flex-basis: auto;
  }

  .community .sec-content {
    flex-direction: column;
  }

  footer .content {
    flex-wrap: wrap;
  }

  footer .about {
    flex-basis: 100%;
  }



  footer .newsletter {
    flex: 1 1 0;
  }

}

/* ?=============================================== */
@media screen and (max-width:767px) {
  .hero header {

    .logo a {
      font-size: 26px;
      line-height: 32px;
    }
  }

  .hero h1 {
    font-size: 63px;
    line-height: 79px;
  }

  .sec-title {
    font-size: 42px;
    line-height: 42px;
  }

  .sec-desc {
    font-size: 18px;
    line-height: 25px;
  }

  .articles .articles-layout .main article,
  .articles .articles-layout aside .card {
    padding: 28px;
  }

  .articles .articles-layout .main article .img-wrapper img {
    width: 140px;
    height: 112px;
  }

  .articles .articles-layout .main article .img-wrapper .tag,
  .articles .articles-layout .main article .content .label {
    font-size: 11px;
    line-height: 14px;
  }

  .articles .articles-layout .main article .content h3 {
    font-size: 21px;
    line-height: 28px;
  }

  .articles .articles-layout .main article .content p {
    font-size: 16px;
    line-height: 26px;
  }

  .articles .articles-layout .main article .content .details {
    gap: 10px 0px;
  }

  .articles .articles-layout .main article .content .details div {
    font-size: 12px;
    line-height: 8px;
  }

  .articles .articles-layout .main button {
    font-size: 18px;
    line-height: 25px;
    padding: 14px 42px;
  }

  .articles .articles-layout aside .card .card-title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 21px;
  }

  .articles .articles-layout aside .card .trend {
    margin-bottom: 21px;
  }

  .articles .articles-layout aside .card .trend .trend-number {
    font-size: 32px;
    line-height: 35px;
  }

  .articles .articles-layout aside .card .trend .trend-title {
    font-size: 16px;
    line-height: 25px;
  }

  .articles .articles-layout aside .card .trend .trend-details {
    font-size: 12px;
    line-height: 18px;
  }

  .articles .articles-layout aside .categorys .category {
    font-size: 14px;
    line-height: 21px;
    padding: 10.5px 14px;
    margin-bottom: 10.5px;
  }

  .authors .author-card {
    padding: 28px;
  }

  .authors .author-card .label {
    font-size: 11px;
    line-height: 14px;
    padding: 4px 7px;
  }

  .authors .author-card .author-img {
    width: 112px;
    margin-bottom: 21px;
  }

  .authors .author-card .author-name {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 7px;
  }

  .authors .author-card .author-job {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 14px;
  }

  .authors .author-card p {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 21px;
  }

  .community .join h3 {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 28px;
  }

  .community .join>p {
    font-size: 18px;
    line-height: 28px;
    padding: 14px;
    margin-bottom: 28px;
  }

  .community .perk {
    gap: 14px;
  }

  .community .perk .icon {
    width: 42px;
    height: 42px;
  }

  .community .perk p {
    font-size: 16px;
    line-height: 25px;
  }

  .community .join .join-now {
    font-size: 21px;
    line-height: 28px;
    padding: 21px 42px;
  }

  .community .reviews {
    padding: 35px;
  }

  .community .reviews h3 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 28px;
  }

  .community .reviews .review {
    padding: 14px 14px 14px 21px;
    margin-bottom: 28px;
  }

  .community .reviews .review p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 14px;
  }

  .community .reviews .review .author-info {
    gap: 14px;
  }

  .community .reviews .review .img-wrapper {
    width: 42px;
  }

  .community .reviews .review .author-name {
    font-size: 18px;
    line-height: 25px;
  }

  .community .reviews .review .author-job {
    font-size: 12px;
    line-height: 18px;
  }

  footer .content {
    flex-flow: column;
  }

  footer .about {
    flex-basis: 100%;
  }

  footer .newsletter {
    flex-basis: auto;
  }

  footer .about .head {
    margin-bottom: 28px;
  }

  footer .about .head .icon {
    width: 56px;
    height: 56px;
  }

  footer .about .head h3 {
    font-size: 26px;
    line-height: 32px;
  }

  footer .about p,
  footer .newsletter p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 21px;
  }

  footer h4 {
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 28px;
  }

  footer .categories ul li {
    margin-bottom: 14px;
  }

  footer .categories ul li a {
    color: inherit;
    font-size: 16px;
    line-height: 25px;
  }

  footer .newsletter form input {
    padding: 14px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 25px;
  }

  footer .newsletter form button {
    padding-block: 14px;
    font-size: 16px;
    line-height: 25px;
  }

  footer .copyright {
    padding-top: 28px;
  }

  footer .copyright p {
    font-size: 16px;
    line-height: 25px;
  }

  footer .copyright ul {
    gap: 28px;
    font-size: 14px;
    line-height: 21px;
  }

}

/* ?=============================================== */
@media screen and (max-width:640px) {
  .articles .articles-layout .main .head .fresh {
    display: none;
  }
}

/* ?=============================================== */
@media screen and (max-width:480px) {
  .hero header {

    .logo a {
      font-size: 23px;
      line-height: 27px;
    }
  }

  .hero {
    padding-block: 108px 48px;

    .trending {
      font-size: 11px;
      line-height: 15px;
      padding: 6px 12px;
      margin-bottom: 18px;
    }

    h1 {
      font-size: 54px;
      line-height: 68px;
      margin-bottom: 24px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .start,
    .watch {
      font-size: 15px;
      line-height: 21px;
      padding: 12px 24px;
    }
  }

  .articles {
    padding-block: 60px;
  }

  .sec-title {
    font-size: 36px;
    line-height: 36px;
  }

  .sec-desc {
    font-size: 15px;
    line-height: 21px;

    &::after {
      width: 96px;
      height: 6px;
    }
  }

  .articles .articles-layout .main article,
  .articles .articles-layout aside .card {
    padding: 24px;
  }

  .articles .articles-layout .main article .img-wrapper img {
    width: 120px;
    height: 96px;
  }

  .articles .articles-layout .main article .img-wrapper .tag,
  .articles .articles-layout .main article .content .label {
    font-size: 9px;
    line-height: 12px;
    padding: 3px 6px;
  }

  .articles .articles-layout .main article .content .label {
    padding: 3px 9px;
  }

  .articles .articles-layout .main article .content h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 9px;
  }

  .articles .articles-layout .main article .content p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .articles .articles-layout .main article .content .details {
    gap: 5px 10px;
  }

  .articles .articles-layout .main article .content .details div {
    font-size: 11px;
    line-height: 15px;
  }

  .articles .articles-layout .main button {
    font-size: 15px;
    line-height: 21px;
    padding: 12px 36px;
    margin-top: 0;
  }

  .articles .articles-layout aside .card .card-title {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 18x;
  }

  .articles .articles-layout aside .card .trend {
    margin-bottom: 18px;
  }

  .articles .articles-layout aside .card .trend .trend-number {
    font-size: 27px;
    line-height: 30px;
  }

  .articles .articles-layout aside .card .trend .trend-title {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 3px;
  }

  .articles .articles-layout aside .card .trend .trend-details {
    font-size: 11px;
    line-height: 15px;
  }

  .articles .articles-layout aside .categorys .category {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 12px;
    margin-bottom: 9px;
  }

  .authors {
    padding-block: 60px;
  }

  .authors .author-card {
    padding: 24px;
  }

  .authors .author-card .label {
    font-size: 9px;
    line-height: 12px;
    padding: 3px 6px;
  }

  .authors .author-card .author-img {
    width: 96px;
    margin-bottom: 18px;
  }

  .authors .author-card .author-name {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 6px;
  }

  .authors .author-card .author-job {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 12px;
  }

  .authors .author-card p {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 18px;
  }

  .authors .author-card .icon {
    width: 36px;
    height: 36px;
  }

  .community {
    padding-block: 60px;
  }

  .community .join h3 {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 24px;
  }

  .community .join>p {
    font-size: 15px;
    line-height: 24px;
    padding: 12px;
    margin-bottom: 24px;
  }

  .community .perk {
    gap: 12px;
    align-items: center;
    margin-bottom: 18px;
  }

  .community .perk .icon {
    width: 36px;
    height: 36px;
    flex-shrink: 0;
  }

  .community .perk p {
    font-size: 14px;
    line-height: 21px;
  }

  .community .join .join-now {
    font-size: 18px;
    line-height: 24px;
    padding: 18px 36px;
  }

  .community .reviews {
    padding: 30px;
  }

  .community .reviews h3 {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 24px;
  }

  .community .reviews .review {
    padding: 12px 12px 12px 18px;
    margin-bottom: 24px;
  }

  .community .reviews .review p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 12px;
  }

  .community .reviews .review .author-info {
    gap: 12px;
  }

  .community .reviews .review .img-wrapper {
    width: 36px;
  }

  .community .reviews .review .author-name {
    font-size: 11px;
    line-height: 15px;
  }

  footer {
    padding-block: 60px;
  }

  footer .about .head {
    margin-bottom: 24px;
  }

  footer .about .head .icon {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }

  footer .about .head h3 {
    font-size: 23px;
    line-height: 27px;
  }

  footer .about p,
  footer .newsletter p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 18px;
  }

  footer h4 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  footer .categories ul li {
    margin-bottom: 12px;
  }

  footer .categories ul li a {
    font-size: 14px;
    line-height: 21px;
  }

  footer .newsletter form input {
    padding: 12px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 21px;
  }

  footer .newsletter form button {
    padding-block: 12px;
    font-size: 14px;
    line-height: 21px;
  }

  footer .copyright {
    padding-top: 24px;
  }

  footer .copyright p {
    font-size: 14px;
    line-height: 21px;
  }

  footer .copyright ul {
    gap: 24px;
    font-size: 12px;
    line-height: 18px;
  }

}